<!-- Main Navigation -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-success navbar-inverse" role="navigation"> -->
  <nav class="navbar navbar-expand-md navbar-dark bg-success navbar-inverse" role="navigation">
    
  <!-- <div class="collapse navbar-collapse navbar-ex1-collapse" id="navbarSupportedContent"> -->
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> 
      <a class="navbar-brand" href="/">
        <img src="../../Assets/images/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy" id="logo">
        </a>
      </div>
    <ul class="navbar-nav mr-auto">


      <% if (title == "Home"){ %>
      <li class="nav-item active">
      <% } else  { %>
      <li class="nav-item">
      <% } %>
        <a class="nav-link" href="/home"><i class="fas fa-lg fa-laptop-house"></i> Home </a>
      </li>


      <% if (title == "Take a Survey") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/surveys/takeasurvey"><i class="fab fa-elementor"></i> Take a Survey </a>
        </li>


      <% if (title == "Existing Surveys") { %>
      <li class="nav-item active">
      <% } else  { %>
      <li class="nav-item">
      <% } %>
        <a class="nav-link" href="/surveys"><i class="fab fa-elementor"></i> Existing Survey </a>
      </li>


   
    </ul>
    </div>
   
<div class="navbar-collapse collapse w-100 order-3 dual-collapse2 justify-content-end">
    <ul class="navbar-nav">
      <% if(typeof displayName == 'string' && displayName) { %>
          <li class="navbar-text"><i class="fas fa-user"></i> Welcome, <%= displayName %></li>
          <li class="nav-item"><a href="/logout" class="nav-link">
           <i class="fas fa-sign-out-alt"></i>Logout</a></li>
          
      <% } else { %>


        <li class="nav-item"><a href class="nav-link">
          </i> Login to Create Survey -> </a></li>
        <li class="nav-item"><a href="/login" class="nav-link">
          <i class="fas fa-sign-in-alt"></i> Login</a></li>

          <li class="nav-item"><a href="/register" class="nav-link">
            <i class="fa fa-user" aria-hidden="true"></i> Register</a></li>
      <% } %>
    </ul>
    
  </div>

</nav>