/*Custom Css goes here*/
#logo {
    height: auto;
    width: auto;
    max-height: 70px;
    max-width: 70px;
}

footer {
    margin-top: 120px;
}

#addQuestion {
    margin-bottom: 30px;
}

#options {
    display: none;
}



.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    left: 600px;  
  }
